.feedback {
  padding: 3rem 0;
  background-color: peachpuff;

  &__title {
    font-size: calc(2.1em + 16 * ((100vw - 320px) / (2560 - 320)));
    font-weight: 400;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    text-align: center;
  }
}

.slider {
  max-width: 960px;

  // &__wrapper {
  // }

  &__items {
    counter-reset: slide;
  }

  &__item {
    height: 320px;
    overflow: hidden;
    position: relative;
    counter-increment: slide;

    &::after {
      content: counter(slide);
      position: absolute;
      top: 10px;
      right: 20px;
      color: #fff;
      font-style: italic;
      font-size: 32px;
      font-weight: bold;
    }

    &:nth-child(1) {
      background: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    }
    &:nth-child(2) {
      background: linear-gradient(to right, #dd1818, #333333);
    }
    &:nth-child(3) {
      background: linear-gradient(to right, #093028, #237a57);
    }
    &:nth-child(4) {
      background: linear-gradient(to right, #243B55, #141E30);
    }

    &_inner {
      position: absolute;
      left: 15%;
      right: 15%;
      top: 36px;
      bottom: 36px;
      overflow: hidden;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_img {
      flex: 0 0 150px;
    }

    &_photo {
      display: inline-block;
      height: auto;
      max-width: 100%;
      border-radius: 50%;
    }

    &_testimonial {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    &_name {
      font-size: 20px;
      margin-bottom: 8px;
      color: rgba(255, 255, 255, 0.8);
    }

    &_post {
      font-size: 14px;
      margin-bottom: 8px;
      color: rgba(255, 255, 255, 0.8);
    }

    &_text {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
    }
	}

  // &__control {

  //   &_prev {
  //   }

  //   &_next {
  //   }
  // }
}

@media (min-width: 576px) {
  .slider__item {
    height: 250px;
  }

  .slider__item_inner {
    flex-direction: row;
  }

  .slider__item_testimonial {
    margin-left: 15px;
  }

  .slider__item_img {
    flex: 0 0 150px;
    max-width: 150px;
  }

  .slider__item_testimonial {
    text-align: left;
  }
}