.footer {
    color: #fff;
    background-color: #000000;
    padding: 2rem 0;


		&__content {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1rem;

            @media (min-width: 760px) {
                flex-direction: row;
            }
		}

		&__item {
            flex: 1 1 auto;
		}

		&__copyright {
            font-size: 16px;
		}

		&__social {
            display: flex;
            justify-content: center;
            gap: .5rem
		}

		&__link {
            width: 40px;
            height: 40px;
            background-color: rgb(34, 34, 34);
            border-radius: 80px;
            padding: 5px;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }

			// &_vk {
			// }

			// &_youtube {
			// }

			// &_inst {
			// }

			// &_twitt {
			// }

			// &_tg {
			// }

			&_support {
                border: none;
                background-color: transparent;
                color: #fff;
                font-size: 16px;
                width: fit-content;
                height: auto;
			}
		}

		&__icon {
            width: 30px;
            height: 30px;
            background-color: rgb(34, 34, 34);
            border-radius: 80px;
            padding: 5px;

			&_vk {
                background: url('../../img/icons/vkontakte.svg') no-repeat center / cover;
			}
            
			&_youtube {
                background: url('../../img/icons/youtube.svg') no-repeat center / cover;
            }
            
			&_inst {
                background: url('../../img/icons/instagram.svg') no-repeat center / cover;
			}
            
			&_tg {
                background: url('../../img/icons/telegram.svg') no-repeat center / cover;
			}
		}

		&__info {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: .6rem;
            text-align: center;
            
            @media (min-width: 760px) {
                align-items: end;
                text-align: right;
            }

		}
}

.thaksAdn {

		&__text {
            font-size: 14px;
		}

		&__link {
            color: #fff;
		}
}
