.preview {
    align-items: center;
    background: url('../../img/webp/head1_converted.webp') no-repeat center / cover;
    display: flex;
    height: 70vh;
    position: relative;
    z-index: 0;
    
    @media (min-width: 425px) {
        height: 90vh;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.33);
        z-index: -1;
    }

    &__content {
        display: flex;
        flex-flow: column-reverse wrap;
        gap: .9rem;
        
        @media (min-width: 769px) {
            flex-flow: row-reverse wrap;
            gap: 2.5rem;
        }
    }

    &__item {
        align-items: center;
        display: flex;
        justify-content: center;
        flex: 1 1 calc(50% - 2.5rem);
        
        // &_media {
        //     flex-basis: 550px;
        // }
    }
    
    &__content-wrapper {
        align-items: baseline;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: center;
        align-items: center;
        
        @media (min-width: 769px) {
            text-align: left;
            align-items: start;
        }
    }

    &__title {
        color: #fff;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: calc(1.9em + 16 * ((100vw - 320px) / (2560 - 320)));
        font-weight: 400;
    }
    
    &__description {
        color: #fff;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 300;
        line-height: 1.3;
        
        @media (min-width: 425px) {
            font-size: calc(1em + 16 * ((100vw - 320px) / (2560 - 320)));
        }
    }

    &__button {
        display: inline-block;
    }

    &__media {
        border-radius: 1rem;
    }
    &__video {
        display: none;

        @media (min-width: 425px) {
            display: block;
        }
    }
}
