.vantage {
    background: rgb(0,0,0);
    background: linear-gradient(111deg, rgba(0,0,0,1) 0%, rgba(0,26,61,1) 40%, rgba(78,0,130,1) 74%, rgba(0,93,68,1) 100%);
    color: #fff;
    padding: 6rem 0;

    &__title {
        background: linear-gradient(45deg, #ff0ebd 13%, #0D78BC 66%, #FF22A4);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font;
        font-size: calc(2.1em + 16 * ((100vw - 320px) / (2560 - 320)));
        font-weight: 400;
        margin-bottom: 2em;
        text-align: center;
        text-transform: uppercase;
    }
    
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    
    &__item {
        align-items: center;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 0.25rem 0;

        picture {
            margin: 0 auto;
        }
        
        @media (min-width: 788px) {
            flex: 1 1 calc(50% - 1rem);
            flex-direction: row;
        }

        // &_img--third {
        //     flex-basis: 220px;
        // }

        // &_img--fourth {
        //     flex-basis: 220px;
        //     // img {
        //     //     max-width: 400px;
        //     // }
        // }
        
    }

    &__text {
        width: 100%;
        text-align: center;

        @media (min-width: 780px) {
            text-align: left;
            &_align_right {
                text-align: right;
                margin-left: auto;
            }
        }

    }
    
    &__subtitle {
        background: linear-gradient(45deg, #19979c 13%, #0D78BC 66%, #19979c);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #fff;
        font-family: $font;
        font-size: calc(1.8em + 16 * ((100vw - 320px) / (2560 - 320)));
        font-weight: 300;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }
    
    &__description {
        color: #fff;
        font-family: $font;
        font-size:  calc(1em + 16 * ((100vw - 320px) / (2560 - 320))); // ~25px;
        font-weight: 100;
        line-height: 1.4;
    }
    
    &__list {
        font-family: $font;
        font-size: calc(1em + 16 * ((100vw - 320px) / (2560 - 320)));
        font-weight: 100;
        margin-left: 1em;
        text-align: left;

        // &-item {

        // }
    }

    &__img {
        width: 100%;
        min-width: 300px;
        object-fit: contain;
        border-radius: 10px;
    }
}
